#main-div {
    width: 300px;
    height: 300px;
    background-color: orange;
    position: relative;
}

#second-div {
    width: 150px;
    height: 150px;
    background-color: lightpink;
    position: absolute;
    transform: translate(50%, 50%);
}


/* przycisk */

.przycisk i {
    margin: 40px;
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    color: #fff;
}

.przycisk i:hover {
    background-color: #fff;
    border: 3px solid aquamarine;
    color: aquamarine;
}

#gradient {
    background: linear-gradient(to right, red,orange,yellow,green,blue,violet);
    width: 100vw;
    height: 100px;
}

#video {
    width: 100%;
    height: auto;
}

.lista ul {
    list-style: none;
}

.lista ul li:before {
    font-family: "fontAwesome";
    content: "\f005";
    margin: 0 5px 0 5px
}

input::placeholder {
    color: green;
}

.links a[href$=".doc"] {
    color: deeppink;
}

.links a[href$=".docx"] {
    color: deeppink;
}

:lang(en){
    
}

